body {
    background-color: #ffffff;
    font-family: "Noto Serif JP", serif;
}

.day {
    color: #fca311;
}

h1 {
    color: #fca311;
}

h2 {
    color: #14213d;
}

th {
    background-color: #e5e5e5;
}

th, td {
    border: solid 1px;
}

table {
    /* セルの線を重ねる */
    border-collapse: collapse;
}

.navbar.scrolled {
    background: #E5E5E5;
    transition: background 500ms;
}

i {
    font-size: 2rem;
    color: black;
}
